# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Vite
/frontend/vite-project/node_modules
/frontend/vite-project/logs
/frontend/vite-project/*.log
/frontend/vite-project/npm-debug.log*
/frontend/vite-project/yarn-debug.log*
/frontend/vite-project/yarn-error.log*
/frontend/vite-project/pnpm-debug.log*
/frontend/vite-project/lerna-debug.log*

/frontend/vite-project/dist
/frontend/vite-project/dist-ssr
/frontend/vite-project/*.local

# Editor directories and files
/frontend/vite-project/.vscode/*
/frontend/vite-project/.idea
/frontend/vite-project/.DS_Store
/frontend/vite-project/*.suo
/frontend/vite-project/*.ntvs*
/frontend/vite-project/*.njsproj
/frontend/vite-project/*.sln
/frontend/vite-project/*.sw?



# backend
/.backend-env
/agrasandhaniBackend/agrasandhaniBackend/__pycache__
/agrasandhaniBackend/user_management/__pycache__
/agrasandhaniBackend/user_management/migrations/__pycache__
/agrasandhaniBackend/agrasandhani.development.db.sqlite3
/agrasandhaniBackend/creds.txt
/agrasandhaniBackend/agrasandhaniBackend/extremely_critical.py
/agrasandhaniBackend/question_generation/migrations/__pycache__
/agrasandhaniBackend/question_generation/__pycache__

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
